@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  background-color: #f7f7f7;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes open-menu {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes close-menu {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes swoosh {
  from {
    opacity: 0;
    transform: translateX(-50%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
    transform: translateX(0) scale(1);
  }
}

.menu--open {
  animation-name: open-menu;
  animation-duration: 0.25s;
}
.menu--close {
  animation-name: close-menu;
  animation-duration: 0.25s;
  transform: translateX(-100%);
}

.profile {
  animation-name: swoosh;
  animation-duration: 0.5s;
}

.thumbnail:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.05);
}

.thumbnail {
  transition: all 0.1s ease-in-out;
  transform: scale(1);
}
