@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  background-color: #f7f7f7;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes open {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes close {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
.menu-open {
  animation-name: open;
  animation-duration: 0.25s;
}
.menu-close {
  animation-name: close;
  animation-duration: 0.25s;
  transform: translateX(-100%);
}
